/* Styles Here */



/* Overall Styles */

a {
  text-decoration: none;
  color: #E5E7EB;
}

li {
  list-style: none;
}


header,
main,
footer {
  padding: 0 200px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
li {
  font-family: 'Roboto', Arial;
}

/* Header Styles */


header {
  background: #1F2937;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header h1,
header h3,
header button {
  color: #F9FAF8;
}

header ul {
  display: flex;
  gap: 25px;
}


.upper,
.lower {
  display: flex;
  justify-content: space-between;
}

/* Upper Header */


.upper {
  margin-bottom: 100px;
  align-items: center;
}

.upper h3 {
  padding: 15px 0;
  font-size: 24px;
  font-weight: 700;
}


/* Lower Header */
.lower {
  align-items: flex-start;
}

.lower .header-text {
  width: 50%;
}

.lower .header-text h1 {
  line-height: 52px;
  font-size: 48px;
  font-weight: 700;
  width: 70%;
  margin-bottom: 20px;
}

.lower .header-text p {
  font-size: 18px;
  color: #E5E7EB;
  width: 90%;
  margin-bottom: 15px;
  line-height: 24px;
}

.lower .header-text button {
  background-color: #3882F6;
  padding: 5px 40px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  font-weight: 500;
  margin-bottom: 100px;
}

.lower .image-container {
  width: 50%;
  text-align: center;
  background: grey;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lower .image-container p {
  color: #F9FAF8;
}


/* Info Container Styles */

.info-container {
  text-align: center;
  margin-bottom: 120px;
}

.info-container h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 50px 0;
}

.info-container .info-flex {
  display: flex;
  justify-content: space-evenly;
  padding: 0 80px;
}

.info-container .info-flex .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.info-container .info-flex .info .image {
  box-sizing: border-box;
  border: 3px solid #3882F6;
  border-radius: 20px;
  width: 150px;
  height: 150px;
}

.info-container .info-flex .info p {
  padding: 10px 0;
  color: #1F2937;
}